/* This file is for your main application css. */
select.day-statistic-version {
  width: 170px;
}
select.day-statistic-sale {
  width: 100px;
}
#notification {
    right: 50px;
    position:fixed;
    top:20px;
    width:250px;
    z-index:1000;
    text-align:center;
    font-weight:normal;
    font-size:14px;
    font-weight:bold;
    color:white;
    background-color:#00ff43;
    padding:5px;
}
#notification span.dismiss {
    border:2px solid #FFF;
    padding:0 5px;
    cursor:pointer;
    float:right;
    margin-right:10px;
}
#notification a {
    color:white;
    text-decoration:none;
    font-weight:bold
}
